@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

$header-font: 'Raleway', sans-serif;
$paragraph-font: 'Lora', serif;

//https://coolors.co/463f1a-60492c-a22c29-f9ebe0-208aae-0d2149

$red: #a22c29;
$white: #f9ebe0;
$blue: #0d2149;
$lightblue: #208aae;
$brown: #60492c;
$darkBrown: #463f1a;
